In [1]:
import pyodbc 

cnxn = pyodbc.connect("Driver={/usr/local/lib/libmsodbcsql.18.dylib};Server=sakettestserver.database.windows.net;UID=saket;PWD=Mansa@0902;Database=demo;")

In [2]:
import pandas as pd

In [3]:
salesorderdetails = pd.read_sql_query('select * from [SalesLT].[SalesOrderDetail]',cnxn)
salesorderdetails

/var/folders/m9/xdn0jwwj5tvd4_rps56n7tpr0000gn/T/ipykernel_11974/1213158454.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  salesorderdetails = pd.read_sql_query('select * from [SalesLT].[SalesOrderDetail]',cnxn)

,SalesOrderID,SalesOrderDetailID,OrderQty,ProductID,UnitPrice,UnitPriceDiscount,LineTotal,rowguid,ModifiedDate
0,71774,110562,1,836,356.898,0.0,356.898,E3A1994C-7A68-4CE8-96A3-77FDD3BBD730,2008-06-01
1,71774,110563,1,822,356.898,0.0,356.898,5C77F557-FDB6-43BA-90B9-9A7AEC55CA32,2008-06-01
2,71776,110567,1,907,63.900,0.0,63.900,6DBFE398-D15D-425E-AA58-88178FE360E5,2008-06-01
3,71780,110616,4,905,218.454,0.0,873.816,377246C9-4483-48ED-A5B9-E56F005364E0,2008-06-01
4,71780,110617,2,983,461.694,0.0,923.388,43A54BCD-536D-4A1B-8E69-24D083507A14,2008-06-01
...,...,...,...,...,...,...,...,...,...
537,71938,113312,3,715,29.994,0.0,89.982,64FBAAAB-9400-4664-ADD7-97115B75B27B,2008-06-01
538,71938,113313,1,881,32.394,0.0,32.394,67D4E5D4-9629-49A6-A6E0-9E1C4CDEE3DE,2008-06-01
539,71938,113314,2,875,5.394,0.0,10.788,352D06E9-8456-4966-9C73-3F227B023962,2008-06-01
540,71938,113315,3,800,672.294,0.0,2016.882,78F73142-E566-453F-A2B9-88A0FCAF4552,2008-06-01
541,71946,113406,1,916,31.584,0.0,31.584,B571CEE0-A90A-4E76-9796-379B55352A28,2008-06-01

In [9]:
salesorderdetails.sort_values(by=['ProductID','OrderQty'],ascending=False,inplace=True)

In [16]:
salesorderdetails.drop_duplicates(subset=['ProductID'],inplace=True)

In [19]:
salesorderdetails=salesorderdetails[['ProductID','OrderQty']]

In [21]:
product = pd.read_sql_query('select * from [SalesLT].[Product]',cnxn)

/var/folders/m9/xdn0jwwj5tvd4_rps56n7tpr0000gn/T/ipykernel_87988/2395885921.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  product = pd.read_sql_query('select * from [SalesLT].[Product]',cnxn)

In [22]:
product

,ProductID,Name,ProductNumber,Color,StandardCost,ListPrice,Size,Weight,ProductCategoryID,ProductModelID,SellStartDate,SellEndDate,DiscontinuedDate,ThumbNailPhoto,ThumbnailPhotoFileName,rowguid,ModifiedDate
0,680,"HL Road Frame - Black, 58",FR-R92B-58,Black,1059.3100,1431.50,58,1016.04,18,6,2002-06-01,NaT,None,b'GIF89aP\x001\x00\xf7\x00\x00\x00\x00\x00\x80...,no_image_available_small.gif,43DD68D6-14A4-461F-9069-55309D90EA7E,2008-03-11 10:01:36.827
1,706,"HL Road Frame - Red, 58",FR-R92R-58,Red,1059.3100,1431.50,58,1016.04,18,6,2002-06-01,NaT,None,b'GIF89aP\x001\x00\xf7\x00\x00\x00\x00\x00\x80...,no_image_available_small.gif,9540FF17-2712-4C90-A3D1-8CE5568B2462,2008-03-11 10:01:36.827
2,707,"Sport-100 Helmet, Red",HL-U509-R,Red,13.0863,34.99,None,NaN,35,33,2005-07-01,NaT,None,b'GIF89aP\x001\x00\xf7\x00\x00\x00\x00\x00\x80...,no_image_available_small.gif,2E1EF41A-C08A-4FF6-8ADA-BDE58B64A712,2008-03-11 10:01:36.827
3,708,"Sport-100 Helmet, Black",HL-U509,Black,13.0863,34.99,None,NaN,35,33,2005-07-01,NaT,None,b'GIF89aP\x001\x00\xf7\x00\x00\x00\x00\x00\x80...,no_image_available_small.gif,A25A44FB-C2DE-4268-958F-110B8D7621E2,2008-03-11 10:01:36.827
4,709,"Mountain Bike Socks, M",SO-B909-M,White,3.3963,9.50,M,NaN,27,18,2005-07-01,2006-06-30,None,b'GIF89aP\x001\x00\xf7\x00\x00\x00\x00\x00\x80...,no_image_available_small.gif,18F95F47-1540-4E02-8F1F-CC1BCB6828D0,2008-03-11 10:01:36.827
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
290,995,ML Bottom Bracket,BB-8107,None,44.9506,101.24,None,168.00,9,96,2007-07-01,NaT,None,b'GIF89aP\x001\x00\xf7\x00\x00\x00\x00\x00\x80...,no_image_available_small.gif,71AB847F-D091-42D6-B735-7B0C2D82FC84,2008-03-11 10:01:36.827
291,996,HL Bottom Bracket,BB-9108,None,53.9416,121.49,None,170.00,9,97,2007-07-01,NaT,None,b'GIF89aP\x001\x00\xf7\x00\x00\x00\x00\x00\x80...,no_image_available_small.gif,230C47C5-08B2-4CE3-B706-69C0BDD62965,2008-03-11 10:01:36.827
292,997,"Road-750 Black, 44",BK-R19B-44,Black,343.6496,539.99,44,8967.47,6,31,2007-07-01,NaT,None,b'GIF89aP\x001\x00\xf7\x00\x00\xcd\xc9\xca\xc3...,roadster_black_small.gif,44CE4802-409F-43AB-9B27-CA53421805BE,2008-03-11 10:01:36.827
293,998,"Road-750 Black, 48",BK-R19B-48,Black,343.6496,539.99,48,9130.77,6,31,2007-07-01,NaT,None,b'GIF89aP\x001\x00\xf7\x00\x00\xcd\xc9\xca\xc3...,roadster_black_small.gif,3DE9A212-1D49-40B6-B10A-F564D981DBDE,2008-03-11 10:01:36.827
294,999,"Road-750 Black, 52",BK-R19B-52,Black,343.6496,539.99,52,9262.31,6,31,2007-07-01,NaT,None,b'GIF89aP\x001\x00\xf7\x00\x00\xcd\xc9\xca\xc3...,roadster_black_small.gif,AE638923-2B67-4679-B90E-ABBAB17DCA31,2008-03-11 10:01:36.827

In [23]:
final_table = pd.merge(salesorderdetails,product,on='ProductID',how='inner')

In [24]:
final_table

,ProductID,OrderQty,Name,ProductNumber,Color,StandardCost,ListPrice,Size,Weight,ProductCategoryID,ProductModelID,SellStartDate,SellEndDate,DiscontinuedDate,ThumbNailPhoto,ThumbnailPhotoFileName,rowguid,ModifiedDate
0,999,5,"Road-750 Black, 52",BK-R19B-52,Black,343.6496,539.99,52,9262.31,6,31,2007-07-01,NaT,None,b'GIF89aP\x001\x00\xf7\x00\x00\xcd\xc9\xca\xc3...,roadster_black_small.gif,AE638923-2B67-4679-B90E-ABBAB17DCA31,2008-03-11 10:01:36.827
1,998,7,"Road-750 Black, 48",BK-R19B-48,Black,343.6496,539.99,48,9130.77,6,31,2007-07-01,NaT,None,b'GIF89aP\x001\x00\xf7\x00\x00\xcd\xc9\xca\xc3...,roadster_black_small.gif,3DE9A212-1D49-40B6-B10A-F564D981DBDE,2008-03-11 10:01:36.827
2,997,3,"Road-750 Black, 44",BK-R19B-44,Black,343.6496,539.99,44,8967.47,6,31,2007-07-01,NaT,None,b'GIF89aP\x001\x00\xf7\x00\x00\xcd\xc9\xca\xc3...,roadster_black_small.gif,44CE4802-409F-43AB-9B27-CA53421805BE,2008-03-11 10:01:36.827
3,996,4,HL Bottom Bracket,BB-9108,None,53.9416,121.49,None,170.00,9,97,2007-07-01,NaT,None,b'GIF89aP\x001\x00\xf7\x00\x00\x00\x00\x00\x80...,no_image_available_small.gif,230C47C5-08B2-4CE3-B706-69C0BDD62965,2008-03-11 10:01:36.827
4,994,3,LL Bottom Bracket,BB-7421,None,23.9716,53.99,None,223.00,9,95,2007-07-01,NaT,None,b'GIF89aP\x001\x00\xf7\x00\x00\x00\x00\x00\x80...,no_image_available_small.gif,FA3C65CD-0A22-47E3-BDF6-53F1DC138C43,2008-03-11 10:01:36.827
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137,714,9,"Long-Sleeve Logo Jersey, M",LJ-0192-M,Multi,38.4923,49.99,M,NaN,25,11,2005-07-01,NaT,None,b'GIF89aP\x002\x00\xf7\x00\x00\x14%g\xfc\xfc\x...,awc_jersey_male_small.gif,6A290063-A0CF-432A-8110-2EA0FDA14308,2008-03-11 10:01:36.827
138,712,11,AWC Logo Cap,CA-1098,Multi,6.9223,8.99,None,NaN,23,2,2005-07-01,NaT,None,b'GIF89aP\x001\x00\xf7\x00\x00\x00\x00\x00\x80...,no_image_available_small.gif,B9EDE243-A6F4-4629-B1D4-FFE1AEDC6DE7,2008-03-11 10:01:36.827
139,711,15,"Sport-100 Helmet, Blue",HL-U509-B,Blue,13.0863,34.99,None,NaN,35,33,2005-07-01,NaT,None,b'GIF89aP\x001\x00\xf7\x00\x00\x00\x00\x00\x80...,no_image_available_small.gif,FD7C0858-4179-48C2-865B-ABD5DFC7BC1D,2008-03-11 10:01:36.827
140,708,12,"Sport-100 Helmet, Black",HL-U509,Black,13.0863,34.99,None,NaN,35,33,2005-07-01,NaT,None,b'GIF89aP\x001\x00\xf7\x00\x00\x00\x00\x00\x80...,no_image_available_small.gif,A25A44FB-C2DE-4268-958F-110B8D7621E2,2008-03-11 10:01:36.827
141,707,10,"Sport-100 Helmet, Red",HL-U509-R,Red,13.0863,34.99,None,NaN,35,33,2005-07-01,NaT,None,b'GIF89aP\x001\x00\xf7\x00\x00\x00\x00\x00\x80...,no_image_available_small.gif,2E1EF41A-C08A-4FF6-8ADA-BDE58B64A712,2008-03-11 10:01:36.827

In [25]:
final_table = final_table[['ProductID','OrderQty','Name']]

In [26]:
final_table.to_csv('~/Downloads/Products.csv')

In [27]:
from sqlalchemy import create_engine
import urllib
import pyodbc
import pandas as pd

quoted = urllib.parse.quote_plus("Driver={/usr/local/lib/libmsodbcsql.18.dylib};Server=sakettestserver.database.windows.net;UID=saket;PWD=Mansa@0902;Database=demo;")

engine = create_engine('mssql+pyodbc:///?odbc_connect={}'.format(quoted))

final_table.to_sql('ProductOrders', schema='SalesLT', con = engine)

-1

In [34]:
for index,row in final_table.iterrows():
    if row['Name'] == 'Road-750 Black, 52':
        row['Name'] = 'Siva'
        print(row)

ProductID     999
OrderQty        5
Name         Siva
Name: 0, dtype: object

In [36]:
final_table.describe()

        ProductID    OrderQty
count  142.000000  142.000000
mean   889.190141    5.760563
std     85.724442    4.108337
min    707.000000    1.000000
25%    815.250000    3.000000
50%    906.000000    5.000000
75%    962.750000    7.000000
max    999.000000   25.000000

In [37]:
final_table.columns

Index(['ProductID', 'OrderQty', 'Name'], dtype='object')

In [38]:
final_table['ProductID'].astype('string')

0      999
1      998
2      997
3      996
4      994
      ...
137    714
138    712
139    711
140    708
141    707
Name: ProductID, Length: 142, dtype: string

In [39]:
final_table['ProductID']

0      999
1      998
2      997
3      996
4      994
      ...
137    714
138    712
139    711
140    708
141    707
Name: ProductID, Length: 142, dtype: int64

In [4]:
salesorderdetails.head(10)

,SalesOrderID,SalesOrderDetailID,OrderQty,ProductID,UnitPrice,UnitPriceDiscount,LineTotal,rowguid,ModifiedDate
0,71774,110562,1,836,356.898,0.0,356.8980,E3A1994C-7A68-4CE8-96A3-77FDD3BBD730,2008-06-01
1,71774,110563,1,822,356.898,0.0,356.8980,5C77F557-FDB6-43BA-90B9-9A7AEC55CA32,2008-06-01
2,71776,110567,1,907,63.900,0.0,63.9000,6DBFE398-D15D-425E-AA58-88178FE360E5,2008-06-01
3,71780,110616,4,905,218.454,0.0,873.8160,377246C9-4483-48ED-A5B9-E56F005364E0,2008-06-01
4,71780,110617,2,983,461.694,0.0,923.3880,43A54BCD-536D-4A1B-8E69-24D083507A14,2008-06-01
5,71780,110618,6,988,112.998,0.4,406.7928,12706FAB-F3A2-48C6-B7C7-1CCDE4081F18,2008-06-01
6,71780,110619,2,748,818.700,0.0,1637.4000,B12F0D3B-5B4E-4F1F-B2F0-F7CDE99DD826,2008-06-01
7,71780,110620,1,990,323.994,0.0,323.9940,F117A449-039D-44B8-A4B2-B12001DACC01,2008-06-01
8,71780,110621,1,926,149.874,0.0,149.8740,92E5052B-72D0-4C91-9A8C-42591803667E,2008-06-01
9,71780,110622,1,743,809.760,0.0,809.7600,8BD33BED-C4F6-4D44-84FB-A7D04AFCD794,2008-06-01

In [5]:
salesorderdetails.dtypes

SalesOrderID                   int64
SalesOrderDetailID             int64
OrderQty                       int64
ProductID                      int64
UnitPrice                    float64
UnitPriceDiscount            float64
LineTotal                    float64
rowguid                       object
ModifiedDate          datetime64[ns]
dtype: object

In [6]:
new_prod = salesorderdetails.rename(columns={'OrderQty': 'Quantity Sold', 'LineTotal':'Total Value'}, inplace=False)

In [7]:
new_prod

,SalesOrderID,SalesOrderDetailID,Quantity Sold,ProductID,UnitPrice,UnitPriceDiscount,Total Value,rowguid,ModifiedDate
0,71774,110562,1,836,356.898,0.0,356.898,E3A1994C-7A68-4CE8-96A3-77FDD3BBD730,2008-06-01
1,71774,110563,1,822,356.898,0.0,356.898,5C77F557-FDB6-43BA-90B9-9A7AEC55CA32,2008-06-01
2,71776,110567,1,907,63.900,0.0,63.900,6DBFE398-D15D-425E-AA58-88178FE360E5,2008-06-01
3,71780,110616,4,905,218.454,0.0,873.816,377246C9-4483-48ED-A5B9-E56F005364E0,2008-06-01
4,71780,110617,2,983,461.694,0.0,923.388,43A54BCD-536D-4A1B-8E69-24D083507A14,2008-06-01
...,...,...,...,...,...,...,...,...,...
537,71938,113312,3,715,29.994,0.0,89.982,64FBAAAB-9400-4664-ADD7-97115B75B27B,2008-06-01
538,71938,113313,1,881,32.394,0.0,32.394,67D4E5D4-9629-49A6-A6E0-9E1C4CDEE3DE,2008-06-01
539,71938,113314,2,875,5.394,0.0,10.788,352D06E9-8456-4966-9C73-3F227B023962,2008-06-01
540,71938,113315,3,800,672.294,0.0,2016.882,78F73142-E566-453F-A2B9-88A0FCAF4552,2008-06-01
541,71946,113406,1,916,31.584,0.0,31.584,B571CEE0-A90A-4E76-9796-379B55352A28,2008-06-01

In [8]:
cur = cnxn.cursor()

In [9]:
cur.execute('create table siva(name varchar(10))')

In [10]:
cur.commit()

In [14]:
salesorderdetails['ProductID'].value_counts()

715    10
864    10
712     9
884     9
883     8
       ..
891     1
896     1
913     1
895     1
800     1
Name: ProductID, Length: 142, dtype: int64

In [17]:
salesorderdetails[(salesorderdetails['ProductID']==836) & (salesorderdetails['OrderQty']==4)]

,SalesOrderID,SalesOrderDetailID,OrderQty,ProductID,UnitPrice,UnitPriceDiscount,LineTotal,rowguid,ModifiedDate
106,71783,110741,4,836,356.898,0.0,1427.592,0A9A4BEF-BB06-49B2-942D-C8A2CD010A84,2008-06-01
224,71797,111081,4,836,356.898,0.0,1427.592,2CB6FFB5-8F2C-46E2-A363-D108FACAA14D,2008-06-01

In [18]:
salesorderdetails.sort_values(by='UnitPrice', ascending=False)

,SalesOrderID,SalesOrderDetailID,OrderQty,ProductID,UnitPrice,UnitPriceDiscount,LineTotal,rowguid,ModifiedDate
519,71938,113294,3,796,1466.0100,0.00,4398.030000,1618C9DC-78A0-4936-B89A-C2466681C11F,2008-06-01
216,71797,111073,6,793,1466.0100,0.00,8796.060000,74F064E2-D628-404B-9661-15623D272B00,2008-06-01
208,71797,111065,5,794,1466.0100,0.00,7330.050000,1359B966-F7F4-4D6C-AE6B-99B5896B49B5,2008-06-01
209,71797,111066,2,795,1466.0100,0.00,2932.020000,45F214A2-543B-4211-95B1-7D2360F217B3,2008-06-01
510,71938,113285,3,792,1466.0100,0.00,4398.030000,375A2DF5-72C6-44CD-8789-30EEBF0E5B86,2008-06-01
...,...,...,...,...,...,...,...,...,...
221,71797,111078,11,870,2.8942,0.02,31.199476,E35D5AC3-BE8E-4F38-AA41-55DFC2FFE751,2008-06-01
121,71784,110756,11,870,2.8942,0.02,31.199476,1E115C68-5AF1-41D7-86C2-66F881153C6E,2008-06-01
86,71783,110721,6,873,1.3740,0.00,8.244000,E447CABB-A2CD-4BB0-9927-A6285927BAEC,2008-06-01
198,71797,111055,6,873,1.3740,0.00,8.244000,2324B995-DBF2-4792-B55D-5353428729D3,2008-06-01
158,71784,110793,8,873,1.3740,0.00,10.992000,2B64CA83-B2FB-4AE5-A9EC-9EA1637317DB,2008-06-01

In [19]:
salesorderdetails.shape

(542, 9)